@using Guestbook.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password Page";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<div>
    <fieldset>
        <legend>Change Password</legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="editor-field">
            <p>   @Html.EditorFor(m => m.OldPassword) </p>
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            <p>   @Html.EditorFor(m => m.NewPassword) </p>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
</div>
}